<div class="main-container">
<header>
    <nav>
        <ul >
            <img class="navbar-item_icon" src="assets/img/new-logo.png">
            <div class="navbar__items">
                <a routerLink="register">Registrate</a>
                <a routerLink="login">Inicia sesión</a>
                <a>Terminos y condiciones</a>
            </div>
        </ul>
    </nav>
</header>

<main>
    <section class="landing-img">
        <img src="assets/img/landing-img.png" >
    </section>
    <section class="tools" >
        <div class="divider">
            <div class="part line"><hr></div>
            <div class="part tools-text">
                <span>Herramientas que ofrece Schekdule</span>
            </div>
            <div class="part line"><hr></div>
        </div>
        <div class="cards">
            <div class="info">
                
                <img src="assets/img/kanban-blue-icon.png" >
                <h3>
                    Crea tableron de Kanban
                </h3>
                <p>Uso del tablero de Kanban para la organización de tareas.</p>
            </div>
            <div class="info">
                <img src="assets/img/clipboard-blue-icon.png">
                <h3>
                    Gestiona proyectos
                </h3>
                <p>
                    Genera proyectos y vinculalos con las demás herramientas.
                </p>
            </div>
            <div class="info">
                <img src="assets/img/gantt-blue-icon.png">
                <h3>
                    Diseña diagramas de Gantt
                </h3>
                <p>
                    Diagramación con la técnica de Gantt
                </p>
            </div>
            <div class="info">
                <img src="assets/img/schedule-blue-icon.png">
                <h3>
                    Organiza tus horarios
                </h3>
                <p>
                    El usuario podrá gestionar y organizar sus pendientes.
                </p>
            </div>
        </div>
    </section>
    <section class="why">
        <div class="divider">
            <div class="part line"><hr></div>
            <div class="part">
                <h2 class="why-text" >
                    ¿Por qué <span>Schekdule</span> ?
                </h2>
            </div>
            <div class="part line"><hr></div>
        </div>
    </section>
    <section class="circle">
        <img src="assets/img/circle.png" >
    </section>
</main>

</div>



