.fadeIn {
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titulos {
  font-size: 24px;
  color: #0b7eaf;
  font-weight: bold;
}

b {
  font-size: 20px;
  color: #525252;
}

p {
  font-size: 18px;
  color: #616161;
}
.espacio {
  text-indent: 10px;
}
hr {
  border: 1px solid #dbdbdb;
}
