<loading-spinner *ngIf="isLoading"></loading-spinner>

<div *ngIf="!isLoading" class="fadeIn">
  <div class="header">
    <div class="header__sup">
      <div class="header__title">Proyecto: Final de curso</div>
      <div class="header__subtitle">Tabla de tareas</div>
    </div>
    <blue-button (click)="openModal(null, null)">+ Añadir tarea</blue-button>
  </div>
  

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Tarea</th>
          <th>Estado</th>
          <th>Categoría</th>
          <th>Fecha inicial</th>
          <th>Fecha final</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of data; let i = index">
          <td (click)="openModal(tarea, i)" class="task">
            {{ tarea["tarea"] }}
          </td>
          <td><badge badgeType="{{ tarea['estado'] }}"></badge></td>
          <td>{{ tarea["categoria"] }}</td>
          <td>{{ tarea["fechaInicial"] }}</td>
          <td>{{ tarea["fechaFinal"] }}</td>
          <td class="options" (click)="openConfirmModal(i)">
            <i class="fas fa-trash-alt"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <task-modal
    class="fadeIn"
    *ngIf="modalActive"
    (closeModalEvent)="modalActive = false"
    (addNewTaskEvent)="addTask($event)"
    [taskData]="actualTaskData"
    [taskIndex]="actualTaskIndex"
  ></task-modal>

  <confirm-modal class="fadeIn" *ngIf="confirmModalActive" (closeModalEvent)="closeConfirmModal($event, actualDeleteIndex)"></confirm-modal>
</div>
