.fadeIn { animation: fadeIn 0.4s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.table-container {
    height: 80vh;
    overflow-y: auto;
    margin-top: 10px;
}

blue-button {
    margin: 30px 0px;
}

table {
    border: 2px solid rgb(230, 230, 230);
    // border-radius: 10px;
    border-spacing: 0;
    color: rgb(106, 106, 106);
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
}

th {
    font-weight: 400;
    padding: 15px 30px;
    text-align: left;
    font-size: 16px;
}

td {
    padding: 15px 30px;
    user-select: none;
    font-weight: 400;
}

thead > tr {
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
}

tbody tr td {
    border-bottom: 2px solid rgb(230, 230, 230);
}

.task {
    font-weight: 500;

    &:hover {
        cursor: pointer;
        color: #0B7EAF;
    }
}

.options {

    &:hover {
        cursor: pointer;
        color: red;
    }
}

// Page header
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    display: flex;
    font-size: 28px;
    color: #616161;
}

.header__subtitle {
    font-size: 20px;
    color: #707070;
}