<loading-spinner *ngIf="isLoading"></loading-spinner>

<div *ngIf="!isLoading" class="fadeIn">
  <h1>Tabla de actividades</h1>
  <blue-button (click)="modalActive = true"> Nueva tarea</blue-button>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Tarea</th>
          <th>Estado</th>
          <th>Categoría</th>
          <th>Fecha inicial</th>
          <th>Fecha final</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarea of data">
          <td (click)="modalActive = true" class="task">
            {{ tarea["tarea"] }}
          </td>
          <td><badge badgeType="{{ tarea['estado'] }}"></badge></td>
          <td>{{ tarea["categoria"] }}</td>
          <td>{{ tarea["fechaInicial"] }}</td>
          <td>{{ tarea["fechaFinal"] }}</td>
          <td class="options"><i class="fas fa-ellipsis-v"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <task-modal
    class="fadeIn"
    *ngIf="modalActive"
    (closeModalEvent)="modalActive = false"
    (addNewTaskEvent)="addNewTask($event)"
  ></task-modal>
</div>
