<div class="top-bar">
    <div class="title">
        <i class="fas fa-calendar-days"></i>
        <blue-title>Mis horarios</blue-title>
    </div>
    <div class="actions-area">
        <schkedule-button color="#0B7EAF" leadingIcon="fas fa-plus">Nuevo horario</schkedule-button>
        <schkedule-button color="#CF9400" leadingIcon="fas fa-sort">Ordenar por</schkedule-button>
        <div class="vertical-line"></div>
        <schkedule-input class="mini-search-bar" icon="fas fa-search" placeHolder="Buscar"></schkedule-input>
    </div>
  </div>
<blue-title>Nuevo Horario</blue-title>

<div class="envoltorio sin son">
    <div class="sin items"></div>
    <div class="sin items">Lunes</div>
    <div class="sin items">Martes</div>
    <div class="sin items">Miercoles</div>
    <div class="sin items">Jueves</div>
    <div class="sin items">Viernes</div>
    <div class="sin items">Sabado</div>
    <div class="sin items">Domingo</div>
    <!-- segunda linea -->
    <div class="horas">07:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <!-- tercera linea -->
    <div class="horas">08:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <!-- cuarta linea -->
    <div class="horas">09:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <!-- quinta linea -->
    <div class="horas">10:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <!-- sexta linea -->
    <div class="horas">11:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <!-- septima linea -->
    <div class="horas">12:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <!-- octava linea -->
    <div class="horas">13:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <!-- novena linea -->
    <div class="horas">14:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <!-- decima linea -->
    <div class="horas">15:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <!-- decimo primero linea -->
    <div class="horas">16:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <!-- decimo segundo linea -->
    <div class="horas">17:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <!-- decimo tercero linea -->
    <div class="horas">18:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>