.main-container {
    display: flex;
    flex-direction: row;
}

.navbar {
    width: 4vw;
    height: 100vh;
    background-color: white;
}

#navbar-logo {
    width: 60%;
}

.navbar-item {
    height: calc(100vh / 12);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #4AB3E5;
        cursor: pointer;
        img {
            filter: sepia(60%) brightness(1000%);
        }
    }
}

.navbar-item__icon {
    width: 50%;
}

.route-active {
    background-color: #0B7EAF;
    cursor: pointer;
    img {
        filter: sepia(60%) brightness(1000%);
    }

}

.main-content {
    width: 100%;
}

.content {
    background-color:white;
    height: 80vh;
    overflow-y: scroll;
    margin: 1.5em;
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
}


.horizontal-navbar {
    padding: 0 1.5em 0 1.5em;
    height: calc(100vh / 12);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 50%;
    }

    img:hover {
        cursor: pointer;
    }
}

.search-bar {
    background-color: #F4F4F4;
    height: 50%;
    width: 60%;
    display: flex;
    align-items: center;
    padding: 0 1em 0 1em;

    input {
        width: 100%;
        background-color: #F4F4F4;
        border: none;
        margin-left: 0.5em;
        font-size: 13pt;
        color: #727171;
    }

    input:focus {
        outline: none;
        border: none;
    }
}

.account-option {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #0B7EAF;
    font-weight: bold;

    a {
        text-decoration: none;
        color: #0B7EAF;
    }
} 