<div class="schkedule-input" [ngClass]="{'active-input': active}">
    <i class="{{icon}}"></i>
    <input type="{{isPassword && !passwordVisible ? 'password' : 'text'}}" placeholder="{{placeHolder}}" (focus)="active = true" (blur)="active = false" >
    <div *ngIf="isPassword">
        <i *ngIf="passwordVisible" class="fas fa-eye" (click)="togglePassword()"></i>
        <i *ngIf="!passwordVisible" class="fas fa-eye-slash" (click)="togglePassword()"></i>
    </div>
    
    <!-- <i *ngIf="isPassword" class="fas fa-eye-slash" (click)="togglePassword()"></i> -->
</div>
