* {
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.button-width {
    ::ng-deep {
        div {
            width: 300px;
        }
    }
}

.options-bar {
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recent-projects-container {
    overflow: scroll;
    height: 80vh;
}
.recent-projects {
    
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2em;
}

.loading-spinner {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-menu {
    position: absolute;
    display: block;
    width: 250px;
    background-color: white;
    box-shadow: 2px 2px 4px #aaaaaa;
    color: #585858;
    font-weight: bold;
}

.invisible-background {
    // background-color: red;
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.order-menu__option {
    position: relative;
    padding: 15px;
    &:hover {
        background-color: rgb(238, 238, 238);
        cursor: pointer;
    }
}
