<blue-title>Proyecto recientes</blue-title>

<div class="options-bar">
    <blue-button (click)="newProject()" routerLink="../new-project">Nuevo proyecto</blue-button>
    <h2>Fecha</h2>
</div>

<div *ngIf="isLoading">Cargando...</div>

<div class="recent-projects" *ngIf="!isLoading">
    <activity-card [title]="project.nombre_proyecto" 
                   [last_modified]="project.fecha_creacion"
                   [project_id]="userProjectsIds[i]"
                   *ngFor="let project of userProjects; let i = index"></activity-card>
</div>

<router-outlet></router-outlet>
