<div class="top-bar">
    <div class="title">
        <i class="fas fa-clipboard"></i>
        <blue-title>Mis proyectos</blue-title>
    </div>
    <div class="actions-area">
        <schkedule-button color="#0B7EAF" leadingIcon="fas fa-plus" (click)="newProject()">Nuevo proyecto</schkedule-button>
        <div class="order-content">
            <div *ngIf="showOrderMenu" class="invisible-background" (click)="showOrderMenu = false"></div>
            <schkedule-button class="button-width" color="#CF9400" leadingIcon="fas fa-sort" (click)="showOrderMenu = true">{{actualOrder}}</schkedule-button>
            <div *ngIf="showOrderMenu" class="order-menu">
                <div class="order-menu__option" (click)="orderProjects('nombre-ascendente')">Nombre ascendete ↑</div>
                <div class="order-menu__option" (click)="orderProjects('nombre-descendente')">Nombre descendente ↓</div>
                <div class="order-menu__option" (click)="orderProjects('fecha-ascendente')">Fecha ascendente ↑</div>
                <div class="order-menu__option" (click)="orderProjects('fecha-descendente')">Fecha descendente ↓</div>
            </div>
        </div>
        
        <div class="vertical-line"></div>
        <schkedule-input class="mini-search-bar" icon="fas fa-search" placeHolder="Buscar" [(ngModel)]="searchValue" ngDefaultControl (ngModelChange)="searchProject()"></schkedule-input>
    </div>
</div>

<div *ngIf="isLoading" class="loading-spinner">
    <div style="color: #1081b1b0" class="la-ball-atom la-3x">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<div class="recent-projects-container">
    <div class="recent-projects" *ngIf="!isLoading">
        <activity-card [title]="project.nombre_proyecto" 
                       [last_modified]="formatDate(project.ultima_modificacion)"
                       icon="fas fa-clipboard"
                       [cardFunction] = "[redirectProjectPage, userProjectsIds[i]]"
                       [deleteFunction]="[deleteProject, userProjectsIds[i], i]"
                       *ngFor="let project of userProjects; let i = index"></activity-card>
    </div>    
</div>


<!-- <router-outlet></router-outlet> -->
