<div class="HorarioModal">
  <form [formGroup]="HorarioTaskForm">
    <div class="HorarioModal-body">
      <div class="HorarioModal-header">
        <img
          class="Horario--delete"
          src="assets/img/delete-red-icon.png"
          alt="Borrar Tarea"
          *ngIf="this.editHorario"
          (click)="sendHorarioTask(true)"
        />
        <div *ngIf="!this.editHorario"></div>
        <button (click)="closeKanbanModal()" class="closeButton">X</button>
      </div>

      <label for="horarioDescription">Descripción</label>
      <textarea
        name="horarioDescription"
        id="horarioDescription"
        cols="30"
        rows="10"
        ngDefaultControl
        formControlName="horarioDescription"
      ></textarea>

      <button
        *ngIf="!this.editHorario"
        (click)="sendHorarioTask(false)"
        class="addButton"
        [disabled]="!HorarioTaskForm.valid"
      >
        Añadir
      </button>

      <button
        *ngIf="this.editHorario"
        (click)="sendHorarioTask(false)"
        class="addButton"
        [disabled]="!HorarioTaskForm.valid"
      >
        Modificar
      </button>
    </div>
  </form>
</div>
