<blue-title>Nuevo tablero Kanban</blue-title>

<div class="Kanban-container">
  <div class="Kanban-section" *ngFor="let Section of this.kanbanBoard.sections">
    <div class="Kanban-section--header">
      {{ Section.kanbanSectionName }}
    </div>

    <app-kanban-task-card
      *ngFor="let Task of Section.tasks"
      [kanbanTask] = Task
    ></app-kanban-task-card>

    <div (click)="openKanbanModal(Section.id_tarjeta)" class="Kanban-section--footer">
      + Añadir elemento
    </div>
  </div>

  <button (click)="addKanbanSection()" class="Kanban-btn--addSection">+</button>
</div>

<div *ngIf="this.modalSwitch == true">
  <app-kanban-modal> </app-kanban-modal>
</div>

<!-- <router-outlet></router-outlet> -->
