<div class="title">
  <input
    type="text"
    [(ngModel)]="this.Horario.nombre_horario"
    (dblclick)="this.Horario.editNombre = false"
    [readonly]="this.Horario.editNombre"
    (keyup.enter)="editDescription()"
    [ngClass]="{ enabledInput: !this.Horario.editNombre }"
  />
</div>

<div class="Horario-Container">
  <div class="envoltorio sin son">
    <div class="sin items">&nbsp;</div>
    <div class="sin items">Lunes</div>
    <div class="sin items">Martes</div>
    <div class="sin items">Miercoles</div>
    <div class="sin items">Jueves</div>
    <div class="sin items">Viernes</div>
    <div class="sin items">Sabado</div>
    <div class="sin items">Domingo</div>
    <!-- segunda linea -->
  </div>

  <div class="envoltorio sin son" *ngFor="let horas of this.ListActividad">
    <div class="items">{{ horas.hora }}</div>
    <div
      class="items"
      [ngClass]="dias.bgColorClass"
      (dblclick)="openModal(dias)"
      *ngFor="let dias of horas.listDays"
    >
      {{ dias.descripcion }}
    </div>
  </div>

  <div *ngIf="this.modalSwitch == true">
    <app-horario-modal [actividadHorario]="this.ActividadHorarioModal[0]">
    </app-horario-modal>
  </div>
</div>

<div *ngIf="isLoading" class="loading-spinner">
  <div style="color: #1081b1b0" class="la-ball-atom la-3x">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>
</div>
