* {
  color: #0B7EAF;
}

.envoltorio {
  display              : grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows       : 5.8vh;
  font-weight          : bold;
  font-size            : 2.7vh;

  div {
    min-width: 70px;
    border-right : 0.1vh solid grey;
    border-bottom: 0.1vh solid grey
  }

}

// div {
//   border-right : 0.1vh solid grey;
//   border-bottom: 0.1vh solid grey
// }

.sin {
  border-right: none;


}

.son {
  border-bottom: none;
}

.items {
  display    : flex;
  align-items: center;
}

.horas {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.title {
  display    : flex;
  align-items: center;

  input {
    font-size  : 16pt;
    padding    : 0.5em;
    font-weight: bold;
    outline    : none;
    border     : none;
    color      : #0B7EAF;
  }

  .enabledInput {
    border: 2px solid #F4BE37;
  }

}
