<div class="title">
  <input
    type="text"
    [(ngModel)]="this.Horario[0].nombre_horario"
    (dblclick)="this.Horario[0].editNombre = false"
    [readonly]="this.Horario[0].editNombre"
    (keyup.enter)="editDescription()"
    [ngClass]="{ enabledInput: !this.Horario[0].editNombre }"
  />
</div>

<div class="envoltorio sin son">
  <div class="sin items">&nbsp;</div>
  <div class="sin items">Lunes</div>
  <div class="sin items">Martes</div>
  <div class="sin items">Miercoles</div>
  <div class="sin items">Jueves</div>
  <div class="sin items">Viernes</div>
  <div class="sin items">Sabado</div>
  <div class="sin items">Domingo</div>
  <!-- segunda linea -->
</div>

<div class="envoltorio sin son" *ngFor="let horas of this.ListActividad">
  <div clas="items">07:00</div>
  <div
    clas="items"
    (dblclick)="openModal(dias)"
    *ngFor="let dias of horas.listDays"
  > {{ dias.descripcion }} </div>
</div>

<div *ngIf="this.modalSwitch == true">
  <app-horario-modal [actividadHorario] = "this.ActividadHorarioModal[0]"
  >
     </app-horario-modal>

</div>

<!-- <div class="horas">07:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
<!-- tercera linea -->
<!-- <div class="horas">08:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
<!-- cuarta linea -->
<!-- <div class="horas">09:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
<!-- quinta linea -->
<!-- <div class="horas">10:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
<!-- sexta linea -->
<!-- <div class="horas">11:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
<!-- septima linea -->
<!-- <div class="horas">12:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
<!-- octava linea -->
<!-- <div class="horas">13:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
<!-- novena linea -->
<!-- <div class="horas">14:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
<!-- decima linea -->
<!-- <div class="horas">15:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
<!-- decimo primero linea -->
<!-- <div class="horas">16:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
<!-- decimo segundo linea -->
<!-- <div class="horas">17:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
<!-- decimo tercero linea -->
<!-- <div class="horas">18:00</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
