.fadeIn {
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.loading-spinner {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-menu {
    position: absolute;
    display: block;
    width: 250px;
    background-color: white;
    box-shadow: 2px 2px 4px #aaaaaa;
    color: #585858;
    font-weight: bold;
}

.invisible-background {
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.order-menu__option {
    position: relative;
    padding: 15px;
    &:hover {
        background-color: rgb(238, 238, 238);
        cursor: pointer;
    }
}