.fadeIn {
  animation: fadeIn 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Page header
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 28px;
  color: #616161;
}

.header__subtitle {
  font-size: 20px;
  color: #707070;
}

// Gantt
.container {
  margin-top: 20px;
  display: flex;
  flex-shrink: 0;
  background-color: #fcfcfc;
  border: 1px solid #ebebeb;
  width: 1550px;
  height: 90%;
  overflow-y: auto;
}

.task-area {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #fcfcfc;

  .title-bar {
    padding-left: 10px;
  }

  .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    color: #616161;
    background-color: #fcfcfc;
    font-size: 16px;
    height: 35px;
    width: auto;

    .task__name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    
  }
}

.timeline-area {
  display: flex;
  flex-shrink: 0;
  overflow-x: auto;
  width: 940px;
  padding-left: 10px;
  background-color: #fcfcfc;

  .period {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 200px;
    height: fit-content;

    .bar-container {
      height: 35px;
      padding: 10px 0px;

      .bar {
        height: 20px;
      }
    }

    .active {
      background-color: #0b7eaf;
    }
  }
}

.title-bar {
  display: flex;
  align-items: center;
  height: 30px;
  position: sticky;
  top: 0;
  font-weight: bold;
  font-size: 13px;
  color: #616161;
  background-color: #fcfcfc;
  border-bottom: 1px solid #ebebeb;
}

.date-area {
  flex-shrink: 0;
  width: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;

  .title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.date {
  display: flex;
  color: #616161;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 10px 10px;
  background-color: #fcfcfc;
}

.action-area {
  height: fit-content;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  color: #616161;
  width: 100px;

  .title-bar {
    justify-content: center;
  }

  .task__action-group {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    gap: 15px;
    height: 35px;
    padding: 10px 0px;
    background-color: #fcfcfc;
  
    .edit:hover {
      color: #0b7eaf;
    }
  
    .delete:hover {
      color: red;
    }
  }
  
  .task__action {
    &:hover {
      cursor: pointer;
    }
  }

}