.container {
    background-color: white;
    padding: 10px;
    color: #616161;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 160px;
    border: 1px solid #BABABA;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: bold;
}

.edit {
    font-size: 20px;

    &:hover {
        cursor: pointer;
    }
}

.description {
    display: flex;
    margin-top: 10px;
    flex: 1;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px;
    width: 80px;
    border-radius: 50px;
}

.low {
    background-color: green;
}

.medium {
    background-color: #A68306;
}

.high {
    background-color: #AB1D1D;
}