<div class="container">
  <div class="header">
    <div class="categorie">{{ taskData["categoria"] }}</div>
    <i class="fas fa-edit edit" (click)="fireEdit()"></i>
  </div>

  <div class="title">{{ taskData["nombre"] }}</div>
  <div class="description">{{ taskData["descripcion"] }}</div>
  <div
    class="badge"
    id="low"
    [ngClass]="{
      low: taskData['prioridad'] == 'Baja',
      medium: taskData['prioridad'] == 'Media',
      high: taskData['prioridad'] == 'Alta'
    }"
  >
    {{ taskData["prioridad"] }}
  </div>
</div>
