.options-bar {
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-projects {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2em;
}

.kanban-title-icon {
  width: 23px;
  filter: invert(30%) sepia(76%) saturate(7184%) hue-rotate(184deg) brightness(104%) contrast(91%);
}

.loading-spinner {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invisible-background {
  // background-color: red;
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.button-width {
  ::ng-deep {
      div {
          width: 300px;
      }
  }
}

.order-menu__option {
  position: relative;
  padding: 15px;
  &:hover {
      background-color: rgb(238, 238, 238);
      cursor: pointer;
  }
}
