
<!-- <p>forgot-password works!</p> -->
<div class="container">
  <div class="forgot-password-container">
    <div class="forgot-password-container-left">
      <div class="forgot-password-container-titulos">
        <h2>Recupera tu cuenta</h2>
        <p class="subtitle">Ingresa tu correo electrónico para buscar tu cuenta</p>
      </div>


   <div class="form">
      <input
      img src="../../../assets/img/email-icon.png"
        type="email"
        placeholder="Correo electrónico"
        [formControl]="userEmail"
        required=""
      >
    </div>






      <button (click)="onReset()">Recuperar contraseña</button>
    </div>

    <div class="forgot-password-container-right">
      <img src="../../../assets/img/organization-blue-icon.png" alt="" />
      <p><b>Schkedule</b></p>
    </div>
  </div>
</div>
