schkedule-input {
    ::ng-deep {
        input {
            font-size: 2    0px;
        }

        .schkedule-input {
            width: 30%;
        }
    }
}

schkedule-button {
    ::ng-deep {
        div {
            width: 500px;
        }
    }
}

.loading-spinner {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

.separator {
    height: 1px;
    width: 100%;
    margin-top: 15px;
    background-color: #CBCBCB;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.section {
    font-size: 20px;
    color: #585858;
}

.data {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: #585858;
    margin-left: 20px;

    i {
        &:hover {
            cursor: pointer;
        }
    }
}