button {
    background-color: #1B7EAF;
    color: white;
    border: None;
    padding: 0.8em 3em;
    font-weight: bold;
    font-size: 1em;
}


button:hover {
    cursor: pointer;
}

button:active {
    background-color: #035A7F;
}
