<div *ngIf="isLoading" class="loading-spinner">
    <div style="color: #1081b1b0" class="la-ball-atom la-3x">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div *ngIf="!isLoading" class="fadeIn">
    <div class="title">
        <img class="back-arrow" src="assets/img/left-arrow-blue.png" routerLink="../">

                    <input type="text" [(ngModel)]="tituloProyecto" (dblclick)="editTituloProyecto = false" [readonly]="editTituloProyecto" (keyup.enter)="changeProjectName()" [ngClass]="{enabledInput: !editTituloProyecto}">
    </div>

    <div class="task-table-container">
        <table class="task-table">
           <!-- Header --> 
            <tr class="task-table__header">
                <td>No.</td>
                <td>Nombre</td>
                <td>Estatus</td>
                <td>Categoría</td>
                <td>Fecha estimada</td>
                <td></td>
            </tr>

            <!-- Elements -->
            <tr class="task-table__element" *ngFor="let element of testList; let i = index">
                <td>{{element.no}}.</td>
                <td>
                    <input type="text" [(ngModel)]="element.nombre" (dblclick)="editCell(element.no, 'nombre')" [readonly]="editCellListNombre[i]" (keyup.enter)="saveCell(i)" [ngClass]="{enabledInput: !editCellListNombre[i]}">
                </td>
                <td>
                    <input type="text" [(ngModel)]="element.estatus" (dblclick)="editCell(element.no, 'estatus')" [readonly]="editCellListEstatus[i]" (keyup.enter)="saveCell(i)" [ngClass]="{enabledInput: !editCellListEstatus[i]}">
                </td>
                    <input type="text" [(ngModel)]="element.categoria" (dblclick)="editCell(element.no, 'categoria')" [readonly]="editCellListCategoria[i]" (keyup.enter)="saveCell(i)" [ngClass]="{enabledInput: !editCellListCategoria[i]}">
                <td>
                    <input type="date" [(ngModel)]="element.fecha" (ngModelChange)="saveCell(0)">
                </td>
                <td class="actions__cell">
                    <img class="actions__icon" src="assets/img/delete-red-icon.png" alt="" (click)="deleteTask(element)">
                </td>
            </tr>
        </table>
    </div>
    <p class="new-task" (click)="addNewTask()">+ Añadir nueva tarea</p>

    <div class="new-task-modal">

    </div>
</div>

