.back-arrow {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.back-arrow:hover {
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    input {
        font-size: 16pt;
        padding: 0.5em;
        font-weight: bold;
        outline: none;
        border: none;
        color: #0B7EAF;
        // user-select: none;
        // -moz-user-select: none;
        // -webkit-user-select: none;
        // -ms-user-select: none;
    }

    .enabledInput {
        border: 2px solid #F4BE37;
    }

}

.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;

    .task-table__header {
        font-weight: 600;
        color: #585858;
        border-bottom: 2px solid #0B7EAF;

        td {
            padding: 0.7em 0em;
        }
        
    }

    .task-table__element {
        color: #0B7EAF;
        font-weight: bold;
        td {
            padding: 0.7em 0em;
        }

        input {
            font-size: 12pt;
            padding: 1em;
            width: 90%;
            font-weight: bold;
            outline: none;
            border: none;
            color: #0B7EAF;
            // user-select: none;
            // -moz-user-select: none;
            // -webkit-user-select: none;
            // -ms-user-select: none;
        }

        .enabledInput {
            border: 2px solid #F4BE37;
        }

    }

    .actions__icon {
        width: 30px;

        &:hover {
            cursor: pointer;
        }
    }


    .actions__cell {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.new-task {
    font-weight: bold;
    color: #4AB3E5;
    margin-top: 20px;
}

.new-task:hover {
    cursor: pointer;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
