a:link,
a:visited,
a:active {
  text-decoration: none;
  color          : #0B7EAF;
}

.container {
  width           : 100%;
  height          : 100%;
  background-color: white;
}

.register-container {
  display              : grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  margin               : 0 40px 0 40px;
  align-items: center;
}

.register-container-right {
  display           : grid;
  grid-template-rows: 2fr 1fr;
  row-gap: 30px;
}

.register-container-right img {
  // width : 200px;
  // height: 200px;
  width : 40%;
  max-width: 300px;
  height: auto;
  margin: auto;
}

.register-container-right p {
  margin     : auto;
  font-weight: 700;
  font-size  : 64px;
  color      : #4AB3E5;
}

.register-container-titulos h2 {
  margin   : 10px 0 0 0;
  font-size: 52px;
}

.register-container-titulos p {
  margin   : 0 0 10px 0;
  color    : #6D6D6D;
  font-size: 39px;
}

.register-container-left button {
  width           : 100%;
  padding         : 12px 20px;
  margin          : 10px 0;
  border          : 0;
  box-sizing      : border-box;
  background-color: #0B7EAF;
  color           : #eaf3f7;
  font-weight     : bold;
}

.register-container-left .terminos-grup {
  margin-top: 10px;
  // font-size : 12px;
  font-size : 14px;
  color     : #6D6D6D;
}

.register-container-left .cuentas-question {
  // font-size : 12px;
  font-size : 14px;
  color     : #6D6D6D;
  text-align: center;
}

.register-container-left .radiobuttons-grup {
  display    : flex;
  align-items: center;
  width      : 100%;
  margin     : 10px 0;
  font-size  : 14px;
  box-sizing : border-box;
}

.register-container-left .radiobuttons-grup span {
  color : #0B7EAF;
  margin: 10px;
}

.register-container-left .radiobuttons-grup label {
  margin-right: 10px;
}

.register-container-left .radiobuttons-grup img {
  width : 30px;
  height: 28.45px;
  margin: 0 10px 0 10px;
}

input[type=radio] {
  accent-color: #0B7EAF;
}
