<!-- <p>login works!</p> -->
<div class="login-container">
    <div class="login-form">

      <div class="login-form-content">
        <h1>Bienvenido de nuevo</h1>
        <p>Favor de llenar el formulario</p>
        <div class="login-form-input">
          <label>Email*:</label>
          <input type="email" placeholder="Email">
        </div>
        <div class="login-form-input">
          <label>Contraseña</label>
          <input type="password" placeholder="Contraseña">
        </div>
        <small>Olvidé contraseña</small>
          <button>Iniciar sesión</button>

      </div>
    </div>
</div>
