<HTML> 
    <head>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <img class="icon" src="/assets/logo.png" >
        <div class="centrado">
            <img src="/assets/users-solid.svg" class="users">
            <p>Introduzca sus credenciales para acceder</p>
            <br/>
            <form>
                <input type="email" placeholder="Correo Electronico">
                <input type="password" placeholder="Contraseña">
                <a href="#">Olvide mi contraseña</a>
                <br/>
                <button type="submit" class="btn btn-primary" routerLink="/main-page/home-page">Acceder</button>
                <a href="#">Crear nueva cuenta local</a>
              </form>
        </div>
    </body>
</HTML>