<form class="main-container" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="modal">
    <div class="header">
      <span class="title">Nueva tarea</span>
      <i class="fas fa-times"></i>
    </div>
    <ung-text-input label="Nombre de la tarea:" ngModel name="tarea" ngDefaultControl></ung-text-input>
    <ung-select-input
      label="Estado de la tarea:"
      [options]="['Pendiente', 'En progreso', 'Hecho']"
      ngModel
      ngDefaultControl
      name="estado"
    ></ung-select-input>
    <ung-date-input label="Fecha inicial:" ngModel name="fechaInicial" ngDefaultControl></ung-date-input>
    <ung-date-input label="Fecha final:" ngModel name="fechaFinal" ngDefaultControl></ung-date-input>
    <ung-button variant="filled">Agregar nueva tarea</ung-button>
  </div>
</form>

<!-- <div class="main-container">
  <ung-button variant="filled" type="submit">Agregar</ung-button>
  <ung-button variant="outlined" type="submit">Modificar</ung-button>
  <ung-text-input
    label="Nueva tarea"
    leadingIcon="fas fa-user"
    placeholder="Nueva tarea"
  ></ung-text-input>
  <ung-text-input
    label="Nueva actividad"
    variant="focused"
    trailingIcon="fas fa-eye"
    placeholder="Nueva actividad"
  ></ung-text-input>
  <ung-password-input placeholder="Contraseña"></ung-password-input>
  <ung-select-input
    label="Estado:"
    [options]="['Pendiente', 'En progreso', 'Hecho']"
  ></ung-select-input>
  <ung-date-input label="Fecha inicial:" min="2022-10-01" max="2022-10-26"></ung-date-input>
  <ung-date-input label="Fecha final:" min="2022-10-01" max="2022-10-26"></ung-date-input>
  <ung-user-avatar name="Sonia"></ung-user-avatar>
</div> -->
