<!-- <p>register works!</p> -->
<div class="container">
    <div class="card-container">

        <div class="card-container-form">
            <h2>Bienvenido</h2>
            <p class="subtitle">Regístrate para empezar</p>
            <form action="register">
                <input type="text" name="name" id="" placeholder="Nombre Completo" />
                <!-- <br> -->

                <div class="radiobuttons-grup">
                    Estatus
                    <label>
                        <input type="radio" name="estatus" id=""> Estudiante
                    </label>
                    <label>
                        <input type="radio" name="estatus" id=""> Trabajador
                    </label>
                </div>

                <!-- <br> -->
                <input type="email" name="email" id="" placeholder="Correo electrónico" />
                <br>
                <input type="password" name="password" id="" placeholder="Contraseña" />
                <br>
                <input type="password" name="password" id="" placeholder="Confirmar contraseña" />
                <br>

                <div class="terminos-grup">
                    <label for="terminos">
                        <input type="checkbox" name="terminos" id="">
                        He leído y acepto los <b>términos y condiciones</b> 
                    </label>
                </div>

                <br>

                <button class="">Registrarme</button>
            </form>

            <div class="cuentas-question">
                <p>¿Ya tienes una cuenta? <a href="#">Iniciar sesión</a></p>
            </div>

        </div>

        <div class="card-container-img">
            <img src="../../../assets/img/logo.jpg" alt="">
        </div>

    </div>


</div>