<!-- <p>register works!</p> -->
<!-- <html> -->
  <div class="main-container">
    <div [formGroup]="registerForm" class="left-container">
      <div class="header">
        <h1 class="title">Bienvenido</h1>
        <h2 class="subtitle">Registrate para empezar</h2>
      </div>
      <schkedule-input [placeHolder]="'Nombre completo'" [icon]="'fas fa-user'" ngDefaultControl formControlName="name"></schkedule-input>
      <div class="status">
        <i class="fas fa-briefcase"></i>
        <p class="status__label">Estatus: </p>
        <div class="status__option">
          <input type="radio" value="Estudiante" ngDefaultControl formControlName="estatus">
          <p>Estudiante</p>
        </div>
        <div class="status__option">
          <input type="radio" value="Trabajador" ngDefaultControl formControlName="estatus">
          <p>Trabajador</p>
        </div>
      </div>
      <schkedule-input [placeHolder]="'Correo electrónico'" [icon]="'fas fa-envelope'" ngDefaultControl formControlName="email"></schkedule-input>
      <schkedule-input [placeHolder]="'Contraseña'" [icon]="'fas fa-lock'" [isPassword]="true" ngDefaultControl formControlName="password"></schkedule-input>
      <schkedule-input [placeHolder]="'Confirmar contraseña'" [icon]="'fas fa-lock'" [isPassword]="true" ngDefaultControl formControlName="passwordConfirm"></schkedule-input>
      <div class="terms">
        <input type="checkbox" ngDefaultControl formControlName="terminos"> 
        <p>He leído y acepto los terminos y condiciones</p>
      </div>

      <blue-button (click)="CheckIn()">Registrarse</blue-button>
      <div class="cuenta">
        <p>Ya tienes una cuenta?</p>
        <b routerLink="/login">Inicia sesión</b>
      </div>
    
    </div>
    <div class="right-container"></div>
  </div>
<!-- <div class="container">
  <div class="register-container">
    <div class="register-container-left">
      <div class="register-container-titulos">
        <h2>Bienvenido</h2>
        <p class="subtitle">Regístrate para empezar</p>
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="CheckIn()">
        <app-register-input
          iconImg="../../../assets/img/user-icon.png"
          inputType="text"
          inputPlaceholder="Nombre Completo"
          ngDefaultControl
          formControlName="name"
        ></app-register-input>

        <div class="radiobuttons-grup">
          <img src="../../../assets/img/briefcase 1.png" />
          <span>Estatus</span>
          <label>
            <input
              type="radio"
              name="estatus"
              value="Estudiante"
              ngDefaultControl
              formControlName="estatus"
            />
            Estudiante
          </label>
          <label>
            <input
              type="radio"
              name="estatus"
              value="Trabajador"
              ngDefaultControl
              formControlName="estatus"
            />
            Trabajador
          </label>
        </div>

        <app-register-input
          iconImg="../../../assets/img/email-icon.png"
          inputType="email"
          inputPlaceholder="Correo electrónico"
          ngDefaultControl
          formControlName="email"
        ></app-register-input>
        <app-register-input
          iconImg="../../../assets/img/lock-icon.png"
          inputType="password"
          inputPlaceholder="Contraseña"
          ngDefaultControl
          formControlName="password"
        ></app-register-input>
        <app-register-input
          iconImg="../../../assets/img/lock-icon.png"
          inputType="password"
          inputPlaceholder="Confirmar contraseña"
          ngDefaultControl
          formControlName="passwordConfirm"
        ></app-register-input>

        <div class="terminos-grup">
          <label for="terminos">
            <input
              type="checkbox"
              ngDefaultControl
              id="terminos"
              formControlName="terminos"
            />
            He leído y acepto los <b>términos y condiciones</b>
          </label>
        </div>

        <div class="alert-danger">
          <div
            class="container-error-message"
            *ngIf="name?.invalid && (name?.dirty || name?.touched)"
          >
            Favor de ingresar su Nombre
          </div>
          <div
            class="container-error-message"
            *ngIf="email?.invalid && (email?.dirty || email?.touched)"
          >
            Correo electrónico no valido
          </div>
          <div
            class="container-error-message"
            *ngIf="
              (password?.invalid || passwordConfirm?.invalid) &&
              (password?.dirty ||
                passwordConfirm?.dirty ||
                password?.touched ||
                passwordConfirm?.touched)
            "
          >
            Las contraseñas no coinciden
          </div>
          <div
            class="container-error-message"
            *ngIf=" password?.errors?.['minlength'] &&
              (password?.dirty || password?.touched)
            "
          >
            La contraseña debe tener mínimo 6 caracteres
          </div>
          <div
            class="container-error-message"
            *ngIf="terminos?.invalid && (terminos?.dirty || terminos?.touched)"
          >
            Favor de aceptar los términos y condiciones
          </div>
        </div>

        <button type="submit" [disabled]="!registerForm.valid">
          Registrarse
        </button>
      </form>

      <div class="cuentas-question">
        <p>
          ¿Ya tienes una cuenta? <a href="../login"><b>Iniciar sesión</b></a>
        </p>
      </div>
    </div>

    <div class="register-container-right">
      <img src="../../../assets/img/organization-blue-icon.png" alt="" />
      <p><b>Schkedule</b></p>
    </div>
  </div>
</div> -->
<!-- </html> -->
