.task-modal-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000043;
}

.task-modal {
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 500px;
    background-color: white;
    z-index: 101;
}

.task-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .task-modal-header__quit {
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }
    }
}