<div *ngIf="isLoading" class="loading-spinner">
    <div style="color: #1081b1b0" class="la-ball-atom la-3x">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<schkedule-input *ngIf="!isLoading" icon="fas fa-search" placeHolder="Buscar" class="fadeIn" ngDefaultControl [(ngModel)]="searchValue" (ngModelChange)="searchList()"></schkedule-input>
<div class="projects-container" class='fadeIn'>
    <div class="recent" *ngIf="!isLoading">
        <activity-card class="fadeIn" [title]="project.nombre" 
                       [last_modified]="formatDate(project.ultima_modificacion)"
                       icon="fas fa-{{project['tipo']}}"
                       [isKanban]="project.tipo == 'kanban'"
                       [cardFunction] = "[project.redirectFunction, projectListIds[i]]"
                       [deleteFunction]="[project.deleteFunction, projectListIds[i], i]"
                       *ngFor="let project of projectList; let i = index"></activity-card>
    </div>    
</div>
