div {
    background-color: black;
    width: 250px;
}
button {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    color: white;
    border: None;
    padding: 0.8em 3em;
    font-weight: bold;
    font-size: 1em;
}


button:hover {
    cursor: pointer;
}

button:active {
    filter: opacity(90%);
}
