.Kanban-container {
  display   : flex;
  padding   : 0;
  margin    : 20px 0 0 0;
  overflow-x: auto;
  width     : 82vw;
}

.Kanban-section {
  display         : block;
  height          : fit-content;
  flex            : 0 0 345px;
  margin          : 0 10px;
  padding         : 10px;
  border-radius   : 4px;
  background-color: #E5E5E5;
  box-sizing      : border-box;
  white-space     : nowrap;
}

.Kanban-section--header {
  color      : #0B7EAF;
  font-weight: 500;
  display    : flex;
  align-items: center;

  input {
    font-size  : 12pt;
    padding    : 0.5em;
    font-weight: bold;
    outline    : none;
    border     : none;
    color      : #0B7EAF;
    background-color: #e5e5e5;
  }

  .enabledInput {
    border: 2px solid #F4BE37;
    background-color: white;
  }
}

.Kanban-section--footer {
  margin-top : 15px;
  color      : #0B7EAF;
  font-size  : 18px;
  font-weight: 800;
}

.Kanban-section--footer:hover {
  font-size: 20px;
  cursor   : pointer;
}

.Kanban-btn--addSection {
  height          : 47px;
  flex            : 0 0 47px;
  border          : 0;
  box-sizing      : border-box;
  background-color: #0B7EAF;
  color           : #ffffff;
  font-weight     : bold;
  font-size       : 35px;
}

.Kanban-btn--addSection:hover {
  cursor: pointer;
}

.title {
  display    : flex;
  align-items: center;

  input {
    font-size  : 16pt;
    padding    : 0.5em;
    font-weight: bold;
    outline    : none;
    border     : none;
    color      : #0B7EAF;
  }

  .enabledInput {
    border: 2px solid #F4BE37;
  }

}
