@import url('../global-pages-styles/global.styles.scss');

.Kanban-container {
  display   : flex;
  padding   : 0;
  margin    : 20px 0 0 0;
  // overflow-x: auto;
  width     : 70vw;
  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.Kanban-section {
  display         : block;
  height          : fit-content;
  flex            : 0 0 345px;
  margin          : 0 10px;
  padding         : 10px;
  border-radius   : 4px;
  background-color: #E5E5E5;
  box-sizing      : border-box;
  white-space     : nowrap;
  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.Kanban-section--header {
  color      : #0B7EAF;
  font-weight: 500;
  display    : flex;
  align-items: center;
  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  input {
    font-size       : 12pt;
    padding         : 0.5em;
    font-weight     : bold;
    outline         : none;
    border          : none;
    color           : #0B7EAF;
    background-color: #e5e5e5;
  }

  .enabledInput {
    border          : 2px solid #F4BE37;
    background-color: white;
  }
}

.Kanban-section--footer{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
}

.Kanban-section--add {
  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top : 15px;
  color      : #0B7EAF;
  font-size  : 18px;
  font-weight: 800;
}

.Kanban-section--add:hover {
  font-size: 20px;
  cursor   : pointer;
}

.Kanban-section--delete {
  width: 25px;
  justify-self: right;
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }
}

.Kanban-btn--addSection {
  height          : 47px;
  flex            : 0 0 47px;
  border          : 0;
  box-sizing      : border-box;
  background-color: #0B7EAF;
  color           : #ffffff;
  font-weight     : bold;
  font-size       : 35px;
}

.Kanban-btn--addSection:hover {
  cursor: pointer;
}

.title {
  display    : flex;
  align-items: center;

  input {
    font-size  : 16pt;
    padding    : 0.5em;
    font-weight: bold;
    outline    : none;
    border     : none;
    color      : #0B7EAF;
  }

  .enabledInput {
    border: 2px solid #F4BE37;
  }

}

.drop-card {
  cursor: move;
}


.cdk-drag-preview {
  box-sizing   : border-box;
  border-radius: 4px;
  box-shadow   : 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-card:last-child {
  border: none;
}

.Kanban-section.cdk-drop-list-dragging .drop-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
