<!-- <blue-title>{{ this.kanbanBoard[0].kanbanName }}</blue-title> -->

<div class="title">
  <input
    type="text"
    [(ngModel)]="this.kanbanBoard[0].kanbanName"
    (dblclick)="this.kanbanBoard[0].editTituloKanban = false"
    [readonly]="this.kanbanBoard[0].editTituloKanban"
    (keyup.enter)="editKanbanName()"
    [ngClass]="{ enabledInput: !this.kanbanBoard[0].editTituloKanban }"
  />
</div>

<div class="Kanban-container" cdkDropListGroup>
  <div
    cdkDropList
    class="Kanban-section"
    [cdkDropListData]="Section"
    (cdkDropListDropped)="drop($event)"
    *ngFor="let Section of this.kanbanBoard[0].sections"
  >
    <div class="Kanban-section--header">
      <input
        type="text"
        [(ngModel)]="Section.kanbanSectionName"
        (dblclick)="Section.editSectionKanban = false"
        [readonly]="Section.editSectionKanban"
        (keyup.enter)="editSectionName(Section)"
        [ngClass]="{ enabledInput: !Section.editSectionKanban }"
      />
    </div>

    <app-kanban-task-card
      class="drop-card"
      cdkDrag
      *ngFor="let Task of Section.tasks"
      [kanbanTask]="Task"
      (dblclick)="editKanbanTask(Task)"
    ></app-kanban-task-card>

    <div class="Kanban-section--footer">
      <div
        (click)="openKanbanModal(Section.id_tarjeta)"
        class="Kanban-section--add"
      >
        + Añadir elemento
      </div>
      <img
        class="Kanban-section--delete"
        src="assets/img/delete-red-icon.png"
        alt="Borrar Tarjeta"
        (click)="buttonDeleteTarjetaKanban(Section.id_tablero, Section.id_tarjeta)"
      />
    </div>
  </div>

  <button (click)="addKanbanSection()" class="Kanban-btn--addSection">+</button>
</div>

<div *ngIf="this.modalSwitch == true">
  <app-kanban-modal [kanbanTask]="this.setTaskKanban[0]"> </app-kanban-modal>
</div>

<router-outlet></router-outlet>
