<div class="top-bar">
    <div class="title">
        <i class="fas fa-chart-gantt"></i>
        <blue-title>Mis diagramas de Gantt</blue-title>
    </div>
    <div class="actions-area">
        <schkedule-button color="#0B7EAF" leadingIcon="fas fa-plus">Nuevo diagrama</schkedule-button>
        <schkedule-button color="#CF9400" leadingIcon="fas fa-sort">Ordenar por</schkedule-button>
        <div class="vertical-line"></div>
        <schkedule-input class="mini-search-bar" icon="fas fa-search" placeHolder="Buscar"></schkedule-input>
    </div>
  </div>
