.button-width {
    ::ng-deep {
        div {
            width: 300px;
        }
    }
}

.recent-projects-container {
    overflow: scroll;
    height: 80vh;
}
.recent-projects {
    
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2em;
}