$primary: #0B7EAF;
$gray1: #525252;

main {
    box-sizing: border-box;
    width: 100%;
    height: 90vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    width: 100%;
    display: flex;
    img { 
        width: 200px;
    }
}

form {
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    gap: 20px;

    ung-password-input {
        width: 100%;
    }

    ung-button {
        width: 100%;
    }

    .forgot-password {
        font-weight: bold;
        color: $primary;
        font-size: 20px;

        &:hover {
            cursor: pointer;
        }
    }
}

.select-another {
    font-weight: bold;
    color: $gray1;
    font-size: 20px;

    &:hover {
        cursor: pointer;
    }
}