.card-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    position: absolute;
    right: -25px;
    top: -10px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0px 1px 2px #00000080;

}
.category {
    font-size: 25px;
    color: #0B7EAF;
}

.kanban-icon {
    width:50%;
    filter: invert(30%) sepia(76%) saturate(7184%) hue-rotate(184deg) brightness(104%) contrast(91%);
}

.delete {
    &:hover {
        cursor: pointer;
    }
}

.clickable-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    &:hover {
        cursor: pointer;
    }
}

.delete {
    color: red;
    font-size: 25px;
}

.title {
    font-weight: 500;
    color: #585858;
    @media screen and (max-width: 1366px) {
        font-size: 15px;
    }

    @media screen and (min-width: 1367px) and (max-width: 1920px) {
        font-size: 18px;
    }
}

.subtitle {
    color: #6D6D6D;
    @media screen and (max-width: 1366px) {
        font-size: 13px;
    }

    @media screen and (min-width: 1367px) and (max-width: 1920px) {
        font-size: 15px;
    }
}

.card {
    background-color: white;
    position: relative;
    border: 1px solid #CBCBCB;
    padding: 1.5em 1em;
    @media screen and (max-width: 1366px) {
        width: 170px;
    }

    @media screen and (min-width: 1367px) and (max-width: 1920px) {
        width: 275px;
    }
}


.recent-projects {
    display: flex;
    flex-wrap: wrap;
}
