<div class="card">
    <div class="clickable-area" (click)="executeCardFunction()"></div>
    <div class="title">{{title}}</div>
    <div class="subtitle"><b>Ultima modificación:</b> {{last_modified}}</div>
    <div class="card-actions">
        <div class="circle">
            <i *ngIf="!isKanban" class="{{icon}} category "></i>
            <img *ngIf="isKanban" src="assets/img/kanban-icon.svg" class="kanban-icon">
        </div>
        <i  class="fas fa-trash delete" *ngIf="canDelete" (click)="executeDeleteFunction()"></i>
        
    </div>

    
</div>
