.Kanban-task-card {
  display           : grid;
  width             : 305px;
  border-radius     : 4px;
  margin            : 10px auto;
  padding           : 5px;
  border            : 1px solid #0B7EAF;
  background-color  : #ffffff;
  box-sizing        : border-box;
  grid-template-rows: repeat(4, auto);
  white-space       : normal;
}

.Kanban-task-priority {
  margin: 10px 0 10px 0;
}

.Kanban-task-priority span {
  padding         : 4px 8px 4px 8px;
  background-color: #B8EBB0;
  border-radius   : 20px;
}

.Kanban-task-description {
  display  : block;
  width    : 250px;
  margin   : 5px auto;
  word-wrap: break-word;
  font-size: 18px;
}

.Kanban-task-tags {
  display  : flex;
  flex-wrap: wrap;
}

.Kanban-task-tags span {
  border-radius   : 4px;
  margin          : 5px;
  padding         : 4px;
  font-size       : 13px;
  background-color: #DE1D6E;
  color           : #ffffff;
}

.Kanban-task-date {
  color    : #666666;
  font-size: 18px;
}
