<img class="icon" src="/assets/logo.png" />
<div class="centrado">
    <img src="/assets/users-solid.svg" class="users">
  <p>Introduzca sus credenciales para crear un nuevo usuario</p>
  <br />
  <div class="form">
    <!-- <input type="text" placeholder="Nombre Completo"/> -->
    <input type="text" placeholder="Nombre completo" />
    <input type="email" placeholder="Correo Electronico" />
    <input type="password" placeholder="Contraseña" />
    <input type="password" placeholder="Confirmar Contraseña" />
    <br />
    <button routerLink="/main-page/home-page">Crear</button>
    <a routerLink="">Ya tengo cuenta</a>
  </div>
</div>
