$primary: #0B7EAF;
$primary-dimmed: #086a94;

button {
    box-sizing: border-box;
    border: none;
    padding: 13px 35px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

    &:hover {
        cursor: pointer;
        background-color: $primary-dimmed;
    }
}

.filled {
    color: white;
    background-color: $primary;
}

.outlined {
    color: $primary;
    border: 2px solid $primary;
    background-color: white;
    &:hover {
        cursor: pointer;
        background-color: rgb(244, 244, 244);
    }
}