<loading-spinner *ngIf="isLoading"></loading-spinner>

<main *ngIf="!isLoading" class="fadeIn">
  <header>
    <div class="title">
      <i class="fas fa-clipboard"></i>
      <h2>Mis tablas</h2>
    </div>
    <ung-button leadingIcon="fas fa-plus" variant="filled" (click)="modalActive = !modalActive">Nueva tabla</ung-button>
  </header>
  <div class="separator"></div>

  <div class="main-container">
    <project-card
      *ngFor="let project of data"
      [title]="project['nombre']"
      [date]="formatDate(project['created_at'])"
      (selectEvent)="projectSelect(project)"
      (deleteEvent)="projectDelete(project['id'])"
    ></project-card>
  </div>
  <form (ngSubmit)="createTable(f)" #f="ngForm">
    <modal-wrapper class="fadeIn" modalTitle="Nueva tabla" *ngIf="modalActive" (closeModal)="modalActive = !modalActive">
      <ung-text-input name="nombre" label="Nombre de la tabla" ngModel ngDefaultControl required></ung-text-input>
      <ung-button leadingIcon="fas fa-plus" variant="filled" [disabled]="!f.valid">Crear tabla</ung-button>
    </modal-wrapper>
  </form>
</main>
