<div class="KanbanModal">
  <form [formGroup]="KanbanTaskForm">
    <div class="KanbanModal-body">
      <div class="KanbanModal-header">
        <img
          class="Kanban-task--delete"
          src="assets/img/delete-red-icon.png"
          alt="Borrar Tarea"
          *ngIf="this.editTask"
          (click)="sendInfoKanbanTask(true)"
        />
        <button (click)="closeKanbanModal()" class="closeButton">X</button>
      </div>

      <label for="kanbanTaskDescription">Descripción</label>
      <!-- <input type="text" name="kanbanTaskDescription" id="kanbanTaskDescription"> -->
      <textarea
        name="kanbanTaskDescription"
        id="kanbanTaskDescription"
        cols="30"
        rows="10"
        ngDefaultControl
        formControlName="kanbanTaskDescription"
      ></textarea>

      <label for="Tags">Categoría</label>
      <input
        type="text"
        name="Tags"
        id="Tags"
        placeholder="Categoría 1, Categoría 2, ..."
        ngDefaultControl
        formControlName="Tags"
      />

      <label for="priority">Prioridad</label>
      <select ngDefaultControl formControlName="priority" id="priority">
        <option>Baja</option>
        <option>Media</option>
        <option>Alta</option>
      </select>

      <button
        *ngIf="!this.editTask"
        (click)="sendInfoKanbanTask(false)"
        class="addButton"
        [disabled]="!KanbanTaskForm.valid"
      >
        Añadir
      </button>
      <button
        *ngIf="this.editTask"
        (click)="sendInfoKanbanTask(false)"
        class="addButton"
        [disabled]="!KanbanTaskForm.valid"
      >
        Modificar
      </button>
    </div>
  </form>
</div>
